.home-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-nav-link {
  list-style: none;
}

.home-nav-links {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  gap: 16px;
}

.home-nav-title {
  text-align: center;
}
