.bio-card {
  display: flex;
  gap: 16px;
  max-width: 1200px;
}

.bio-pic {
  width: 300px;
}

.bio-info {
  flex-grow: 1;
}

@media screen and (max-width: 500px) {
  .bio-card {
    flex-direction: column;
  }
}
