.home-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-link {
  list-style: none;
  font-weight: 600;
}

.nav-link > a {
  color: #004B58;
}

.nav-link > a:hover {
  text-decoration: underline;
}

.home-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
  gap: 16px;
}

.nav-title {
  font-family: "Montserrat", "Open Sans", "Helvetica", "Arial", "sans-serif";
  margin: 0;
}

.nav-title-link:hover, .nav-title:visited {
  text-decoration: none;
}

.home-nav-title {
  text-align: center;
  padding: 16px 0;
}

.secondary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.secondary-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
  gap: 16px;
  height: 100%;
  margin: 0;
}
